/package-lock.json
/config.json
/.idea/
/node_modules/
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/tg_gth/FileContentIndex/0c2f397a-d737-4fc0-b1d9-421cd19d661b.vsidx
.vs/tg_gth/v17/.wsuo
